/*中间分类模开始*/
.grid {
	height: 470px;	
}
.grid-col1 {
	width: 190px;
	height: 100%;
	background-color: #fefefe;
	color: #333;
	font-size: 12px; /*不是给字的,给/的*/
	position: relative;
}
.ad-l {
	width: 250px;
	height: 470px;
	position: absolute;
	top: 0;
	left: -250px;
	/*background: url(../images/ad-l.png) no-repeat;*/
}
.ad-r {
	position: absolute;
	top: 0;
	left: 250px;
	z-index: 999;
	width: 0;
	height: 470px;
	/*这个图片做动画,所以给他添加过度*/
	transition: all 0.8s;
}
.ad-l:hover .ad-r {  /*鼠标经过ad 这个广告大盒子的时候,里面的这个叫ad-r的图片的宽度由0变成990*/
	width: 990px;
	
}
.grid-col1 a {
	color: #333;
	font-size: 12px; /*是给链接文字的*/
	margin: 0 3px;
}
.grid-col1 a:hover {
	color: #f10215;
}
.grid-col1 ul {
	padding: 10px 0;
}
.grid-col1 ul li {
	padding-left: 12px;
	height: 28px;
	line-height: 25px;
	margin-left: 12px; /* 这里为什么不用margin 就是因为下面有鼠标经过的效果*/
}
.grid-col1 ul li:hover {
	background-color: #9c9698;
}
.grid-col2 {
	width: 790px;
	height: 100%;
	margin-left: 10px;
}
.grid-col2-b div {
	float: left;
	margin-top:10px;
}
.grid-col2-b div:last-child {
	float: right;
	margin-bottom: 0;
}
/*箭头部分*/
.grid-col2-t {
	position: relative;
}
.arrow-l,
.arrow-r {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 60px;
	background-color: rgba(0, 0, 0, .3);
	transform: translateY(-50%);
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	color: rgba(255, 255, 255, .3);
	font-family: arial;
}
.arrow-l {
	left: 0;
}
.arrow-r {
	left: 760px;
}
.circle {
	width: 175px;
	height: 20px;
	background-color: rgba(255, 255, 255, .6);
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	border-radius: 10px;
	padding-left: 15px;
}
.circle li {
	width: 12px;
	height: 12px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
	margin: 4px;
	cursor: pointer;
}
.circle .current {
	background-color: #f10215;
}
.grid-col3 {
	width: 190px;
	height: 100%;
}
/*右边模块*/
.login {
	height: 71px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	padding: 15px;
}
.login-t {
	width: 95px;
	height: 60px;
	font-size: 12px;
	white-space: nowrap; /*强制一行内显示*/
	overflow: hidden; /*溢出隐藏*/
	text-overflow: ellipsis;  /*超出的部分显示省略号*/
	color: #666;
	padding-left: 60px;
	line-height: 20px;
	position: relative;
	
}
.login-t a {
	color: #666;
}
.login-t a:hover {
	color: #f10215;
}
.login-b a {
	display: inline-block;
	width: 70px;
	height: 17px;
	border: 2px solid #f10215;
	margin-right: 3px;
	text-align: center;
	color: #f10215;
	line-height: 17px;
} 
.login-b a:hover {
	background-color: #f10215;
	color: #fff;
}
.user-info {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	top: 0;
	border-radius: 50%;
	overflow: hidden;
	background-color: pink;
}
.user-info img {
	width: 100%;
}
.news {
	height: 131px;
	border-bottom: #333333px solid #ccc;
	background-color: #fff;
	padding: 7px 13px 0;
	box-sizing: border-box;
}
.news-t {
	height: 19px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
.news-t a {
	float: left;
	height: 17px;
	line-height: 17px;
}
.cuxiao {
	width: 38px;
	height: 17px;
	line-height: 17px;
	border-right: 1px solid #ccc;
}
.public {
	margin-left: 15px;
}
.news-t .more {
	float: right;
}
.news-t div {
	height: 2px;
	width: 28px;
	background-color: #f10215;
	position: absolute;
	bottom: -1px;
	left: 0;
}
.news-b ul {
	margin-top: 15px;
}
.news-b ul li {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
}
.expand {
	height: 236px;
	background-color: #fff;
	overflow: hidden;  /*expend 这个宽度继承了 父亲190 的宽度*/
}
.expand ul {
	width: 195px; /*父亲是 190 但是里面的li 宽度超过了190 摆放不开 4个Li 此时让UL 宽度变大*/
}
.expand li {
	width: 48px;
	height: 60px;
	float: left;
}
.expand li a {
	display: block;
	padding-top: 10px;
	text-align: center;
}
.expand li i  {
	display: block;
	margin: 0 auto;
	margin-bottom: 8px;
	background: url(../images/sprite_fs@1x.png) no-repeat;
	width: 18px;
	height: 23px;
	background-position: -6px -100px;
}
.expand li:first-child i {
	width: 18px;
	height: 23px;
	background-position: -6px -100px;
}
